.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBox {
  width: 650px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}